<nav>
  <style>
    .nav-div {
    background-color: black;
    padding: 5vh;
  }
  </style>
    <div class="nav-div">
      <img class="logo" src="/images/normalPeople.jpg" alt="" />
      <a href="/">Home</a>
      <a href="/">Contact</a>
    </div>

</nav>