<nav>
  <style>
    .nav-div {
    background-color: black;
    padding: 5vh;
  }
  </style>
    <div class="nav-div">
      <!-- <img class="logo" src="/images/normalPeople.jpg" alt="" /> -->
      <a href="/">Home</a>
      <a href="/addBook">Add Book</a>
      <a href="/deleteBook">Delete Book</a>

    </div>

</nav>