body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.form-container label {
  font-weight: bold;
  margin-right: 10px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="range"] {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.form-container input[type="radio"] {
  margin-right: 5px;
}

.form-container button[type="submit"] {
  background-color: #2d84ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
} 

.books {
  display: flex;
}
.spine {
  background-color: black;
  color: white;
  perspective: 1000px;
  margin: 1px;
  height: 350px;
  width: 55px;
}

.spineTitle {
  width: 100%;
  height: 100%;
}

.bookTitle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  padding-top: 50%;
  font-style: bold;
}

.spine:hover .spineTitle{
  transform: translateZ(40px);
  background-color: red;
}


.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 8rem;
  perspective: 150rem;
  position: relative;
  height: 18rem;
  box-shadow: none;
  background: none;
}

.card-side {
  height: 18rem;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
  color: white;
}

.card-side.back {
  transform: rotateY(180deg);
  background-color: #4158D0;
}

.card-side.front {
  background-color: #0093E9;
}


.card:hover .card-side.front {
  transform: rotateY(-180deg);
}

.card:hover .card-side.back {
  transform: translateZ(100px);
  transform: rotateY(0deg);
}

/* .editButton {
 position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  text-align: center;
  border-radius: 0px;
} */

.editButton:hover button {
  transform: translateY(-5px);
}

.editButton button {
  /* width: 100%; */
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}


.shelf {
  display: block;
  z-index: 9;
  content: url("https://i.imgur.com/1QepZRl.png");
  position: relative;
  width: 941px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.stuffonshelf {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 10;
  margin-bottom: -80px; /* This is what actually puts the stuff ON the shelf instead of hovering above it */
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}


.background {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 12;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 60vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 1;
  /* background-color: rgb(47, 121, 182); */
}

/* Background overlay */
/* .background {
  position: fixed;
  z-index: 12;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
} */

/* .background.show {
  opacity: 1;
} */

/* Book info container */
/* .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 80vh;
  max-width: 800px;
  max-height: 600px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info.show {
  transform: scale(1);
  opacity: 1;
} */

/* Close button */
#close-btn {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#close-btn:hover {
  background-color: #333;
  color: #fff;
}

/* Book image */
.book-img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* Book information container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

/* Book title */
.bookT {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Book description */
.bookD {
  font-size: 1rem;
  margin: 1rem;
}

/* Edit button */
/* .editButton {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
} */

.editButton button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.editButton button:hover {
  background-color: #fff;
  color: #333;
}

.editButton i {
  margin-right: 0.5rem;
}

.bodyBook {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  background: #ccc;
}


.book {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
}

.onTop {
  position: absolute;
  width: 100%;
  z-index: 12;
  top: 0;
  left: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .back {
  background: navy;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}



